:root {
    --grid-template-columns: 250px 20px 1fr;
    --grid-template-rows: 250px 20px 75px 20px 1fr;
    --grid-template-areas: 
        'player . playlist'
        '. . playlist'
        'controls . playlist'
        '. . playlist'
        '. . playlist';
    --mobile-grid-template-rows: 250px 20px 75px 20px 1fr;
    --mobile-grid-template-areas: 
        'player player player'
        '. . .'
        'playlist playlist playlist';
}

.player_layout__container {
    width: 100%;
    height: calc(100% - 3rem);
    display: grid;
    padding: 0.5rem;
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: var(--grid-template-rows);
    grid-template-areas: var(--grid-template-areas);
}

[media-type = 'video'] {
    --grid-template-rows: 80% 1fr;
    --grid-template-columns: 50% 10px 1fr;
    --grid-template-areas: 
        'player player playlist'
        ' .  . playlist'
}


@media only screen and (max-width: 600px) {

    [media-type = 'video'] {
        --mobile-grid-template-rows: 1fr 10px 1fr;
        --mobile-grid-template-areas: 
            'player player player'
            '. . .'
            'playlist playlist playlist';
    }

    [media-type = 'audio'] {
        --mobile-grid-template-rows: 40% 10px 60px 10px 1fr;
        --mobile-grid-template-areas: 
            'player player player'
            '. . .'
            'controls controls controls'
            '. . .'
            'playlist playlist playlist';
    }

    .player_layout__container {
        grid-template-rows: var(--mobile-grid-template-rows);
        grid-template-areas: var(--mobile-grid-template-areas);
    }

    .player_renderer__container video {
        width: auto;
        max-height: 100%;
    }
}