
.player__header {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.player__header select {
    width: 100px;
    height: 2rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--font-color);
    cursor: pointer;
}

.player__header select:focus {
    outline: none;
    border: 1px solid var(--secondary-font-color);
    box-shadow: 1px 1px 3px var(--secondary-font-color);
}